body {
  background-image: url("../images/shara\ desert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-head {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* padding: 0 11em; */
  margin: 0 5em;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.navlink {
  text-decoration: none;
  color: white;
}

.navbar-d {
  position: relative;
}

.invincible {
  border-radius: 50%;
  background-color: white;
  padding: 25px;
  z-index: -1;
  position: absolute;
  opacity: 0.2;
  right: -11px;
  top: -8px;
}

.nav-image {
  width: 100px;
  height: auto;
  transform: rotateY(180deg);
}

.container-body {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* padding: 0 11em; */
  margin: 0 5em;
  /* gap: 5em; */
  gap: 1em;
  align-items: center;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.container1-a {
  color: white;
  font-size: 7em;
  font-weight: 900;
}

.container1-b {
  color: white;
  font-size: 20px;
}

.container1-c {
  background-color: white;
  border-radius: 25px;
  padding: 10px 60px;
}

.container1-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3em;
}

.box {
  /* width: 10em; */
  width: 13em;
  height: 13em;
  padding-left: 2em;
  padding-top: 2em;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  transition: transform 0.5s;
}

.box:hover {
  transform: translateY(-10px);
}

.box-a {
  font-size: 20px;
  font-weight: 600;
}

.box-c {
  margin-top: 1em;
}

.box1 {
  background-image: url("../images/pic-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box2 {
  background-image: url("../images/pic-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box3 {
  background-image: url("../images/pic-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box4 {
  background-image: url("../images/pic-4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*///////////////////////
Media Queries Begin Here
///////////////////////// */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navlink {
    font-size: 22px;
  }

  .invincible {
    padding: 30px;
  }

  .nav-image {
    width: 70px;
  }

  .container-body {
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr 5fr; */
    grid-template-columns: 5fr;
  }

  .container1 {
    grid-row: 1/2;
  }

  .container1-a {
    font-size: 5em;
  }

  .container1-link {
    font-size: 30px;
  }

  .container1-b {
    font-size: 30px;
  }

  .container2 {
    margin-bottom: 10em;
    margin-top: 3em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    width: 40em;
    background-position: center;
  }

  .box-a {
    font-size: 25px;
  }

  .common-box {
    font-size: 20px;
  }
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .container-head {
    margin: 0 1em;
    justify-content: center;
    gap: 5px;
  }

  .navbar {
    gap: 15px;
  }

  .invincible {
    padding: 21px;
  }

  .navlink {
    /* font-size: 22px; */
    font-size: 16px;
  }

  .navlink1 {
    font-size: 12px;
  }

  .nav-image {
    width: 50px;
  }

  .container-body {
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr 5fr; */
    grid-template-columns: 5fr;
  }

  .container1 {
    grid-row: 1/2;
    gap: 1em;
  }

  .container1-a {
    /* font-size: 5em; */
    font-size: 3em;
  }

  .container1-link {
    /* font-size: 30px; */
    font-size: 25px;
  }

  .container1-b {
    /* font-size: 30px; */
    font-size: 25px;
  }

  .container2 {
    margin-bottom: 10em;
    margin-top: 3em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    /* width: 40em; */
    width: 15em;
    background-position: center;
  }

  .box-a {
    font-size: 25px;
  }

  .common-box {
    font-size: 20px;
  }
}
